<div class="container">
  <div class="row">
    <div class="col">
      <h4>New Task</h4>
      <form class="form-group" (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ newTask | json }} </p>
        <p>Title: <input class="form-control" type="text" name="title" [(ngModel)]="newTask.title" /></p>
        <p>Description<input class="form-control" type="text" name="desc" [(ngModel)]="newTask.desc" /></p>
        <input class="form-control" type="submit" value="Create Task" />
    </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Task List</h4>
      <div class="card p-3" *ngFor="let task of tasks">
        <h4 >{{task.title}}</h4>
        <button class="btn-primary" button id="showone" (click)="clickOne($event)" [value]="task._id">Edit</button>
        <form class="form-group" (submit)="onDelete(task._id)">
          <input class="form-control btn-danger" type="submit" value="Delete Task">
        </form>
      </div>
      
      
    </div>
    <div id="showEdit" *ngIf="showEdit" class="col">
      <h4>Edit a task</h4>
      <form *ngFor="let one of OneTask" class="form-group" (submit)="onUpdate(one._id)">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ one | json }} </p>
        <p>Title: <input class="form-control" type="text" name="title" [(ngModel)]="one.title" /></p>
        <p>Description<input class="form-control" type="text" name="desc" [(ngModel)]="one.desc" /></p>
        <input class="form-control" type="submit" value="Edit Task" />
    </form>
    
    </div>
  </div>
</div>



<router-outlet></router-outlet>

